#a{background-color:palevioletred;}
#b{background-color:greenyellow ;}
#c{background-color:green;}
#d{background-color:orangered;}
#f{background-color:black ;}
#w{background-color:yellow ;}
h2{
background-color: blue;
}
*{width:70;}


